<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>구성인원 목록</title>
<style type="text/css">
	#container { width:fit-content; padding:1em; margin:0 auto; }
	div>span { display:inline-block; width:150px;}
	a { text-decoration:none; }
</style>
</head>
<body>
<div id="container">
	<div th:each="p : ${list}">
		<span th:text="${p.num}"></span>
		<span>
			<!-- /* 
			<a th:href="@{'/val/test/detail/'+${p.num}}">[[${p.name}]]</a>
			*/ -->
			<a th:href="@{'/val/test/detail/'+ ${p.num}}" th:text="${p.name}"></a>
		</span>
		<span th:text="${p.email}"></span>
	</div>
</div>
</body>
</html>